{% extends "/layout.html.twig" %}
{% block content %}
<h1>BLOG</h1>

<a href="">nouveau sujet</a><br><br><br>
<table>
    <thead>
        <tr>
            <th colspan="2">Les sujets</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Titre</td>
            <td>Date</td>
        </tr>
    </tbody>

</table>



{% endblock %}